.nav {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100%;
  text-align: right;
  background-color: black;
  padding: 1rem;

  display: flex;
  justify-content: right;
}
.nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav ul li {
  display: inline-block;
}