body {
  padding: 2rem;
  background-color: #222;
}

body,
.text-body-secondary,
.bg-body-secondary,
.bg-body-tertiary,
.table tr th,
.table tr td {
  color: #eee!important;
}


.bg-body-secondary,
.bg-body-tertiary {
  background-color: #404040!important; 
}

.table tr th {
  background-color: #404040!important; 
}
.table tr td {
  background-color: #222!important; 
}


a {
  color:rgb(44, 202, 255);
}
a:hover {
  text-decoration: none;
}

a .highlight {
  color:rgb(224, 87, 255);
}



.info {
  color: rgb(186, 186, 186);
}
.info span {
  color: rgb(181, 159, 21);
}


h2 {
  margin: 2rem 0 1rem 0;
  border-radius: 5px;
  background-color: #363636;
}
h3 {
  border-bottom: 1px solid #595959;
}
h4 {
  font-size: 1rem;
}
ul {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
}