body {
  padding: 2rem;
  background-color: #222;
}

body,
.text-body-secondary,
.bg-body-secondary,
.bg-body-tertiary,
.table tr th,
.table tr td {
  color: #eee!important;
}


.bg-body-secondary,
.bg-body-tertiary {
  background-color: #404040!important; 
}

.table tr th {
  background-color: #404040!important; 
}
.table tr td {
  background-color: #222!important; 
}


a {
  color:rgb(44, 202, 255);
}
a:hover {
  text-decoration: none;
}

a .highlight {
  color:rgb(224, 87, 255);
}



.info {
  color: rgb(186, 186, 186);
}
.info span {
  color: rgb(181, 159, 21);
}